body {
  background-color: black;
  color: #a3a3a3; /* This is for text color, to ensure readability on a dark background */
}

.heading{
  text-align : center;
/*   text-decoration: underline; */
/*   background-color: black; */
}


.dropdown{
  display: inline-block;
  background-color:blue;
  margin-left: 43%;
  margin-top:5%;
/*   padding-left:44%; */
  
}

.dropbtn{
  width: 200px;
  display:inline-block;
}

.dropdown-content{
  display:none;
/*   text-align:center; */
  posistion: absolute;
  min-width: 160px;
  width: auto;
   max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content{
  display:block;
  background-color:#a3a3a3;
   max-height: 200px; /* Set the maximum height of the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
}

.dropdown-content a{
  display:block;
  background-color:white;
  border-bottom: 2px solid black;
}

a{
  color:black;
  text-decoration: none;
 
}
